[buildout]
extends =
    buildout-configs/base.cfg
    buildout-configs/secret.cfg
    buildout-configs/local-converters.cfg
newest = false

auto-checkout = *
always-checkout = false 

parts +=
#    ptprofiler
    zopeprofiler
    zptdebugger
    test

[gunicorn]
port = 5002

[configuration]
eggs +=
    Products.ZMIntrospection
    collective.codemirror
    ipdb
    pdbpp
    readline

zcml +=
    collective.codemirror

#instance extends base.cfg:instance
[instance]
zope-conf-additional =
    extensions ${buildout:directory}/Extensions

event-log-level = INFO

[ptprofiler]
recipe = plone.recipe.bundlecheckout
url = https://svn.infrae.com/PTProfiler/trunk
subfolder = PTProfiler

[zopeprofiler]
recipe = plone.recipe.distros
urls = http://www.dieter.handshake.de/pyprojects/zope/ZopeProfiler.tgz

[zptdebugger]
recipe = plone.recipe.bundlecheckout
url = https://svn.plone.org/svn/collective/ZPTDebugger/trunk
subfolder = ZPTDebugger

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${configuration:eggs}
    cssselect
    Mock
    pdbpp
environment = testenv

[testenv]
CLIENT_HOME = ${buildout:directory}/var/instance
REPORTEK_DEPLOYMENT = MDR

#mr.developer config: https://pypi.python.org/pypi/mr.developer
[sources]
Products.Reportek = git https://github.com/eea/Products.Reportek pushurl=git@github.com:eea/Products.Reportek.git branch=development
