[secrets]
MUNIN_KEY = <munin-secret-key>
SUPERVISOR_PWD = <supervisor-password>
ADMIN_KEY = <admin-password>
QAACCOUNT = <qaaccount-password>
SENTRY_DSN = <http://sentry/dsn> | leave empty to deactivate
DOCS_PATH = <docs-path> | leave empty to deactivate
