#ZEOSERVER config: https://pypi.python.org/pypi/plone.recipe.zeoserver
[zeoserver]
recipe = plone.recipe.zeoserver
effective-user = zope
pack-days = 0
zeo-address = 127.0.0.1:2000

zeo-log = ${buildout:directory}/logs/zeoserver.log
zeo-log-level = error


[zeoclient]
zeo-client = true
zeo-address = ${zeoserver:zeo-address}
zopectl-umask = 002
http-force-connection-close = on

shared-blob = on

zope-conf-additional =
    <product-config munin.zope>
        secret ${secrets:MUNIN_KEY}
    </product-config>

event-log-level = INFO
z2-log-level = INFO
